[Desktop Entry]
Type=Application
Name=Doom Launcher
Comment=Doom frontend and WAD library
Exec=DoomLauncher %F
Icon=com.goshapps.DoomLauncher
Terminal=false
Categories=Game;
MimeType=application/x-doom;application/x-wad;
StartupNotify=true
StartupWMClass=com.goshapps.DoomLauncher
